@model Hotel



<div class="container-xxl py-5 destination wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Hoteles</h6>
            <h1 class="mb-5">Las mejores ofertas</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/img/@Model.Imagen" alt="@Model.Nombre">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Nombre</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-phone text-primary me-2"></i>@Model.Telefono</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">@((int)Model.Precio) €</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>@Model.Descripcion</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a asp-controller="Hoteles" asp-action="Index" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px;">volver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <form id="signUpForm" method="post" asp-action="ComprarVuelo">
                    @Html.AntiForgeryToken()
                    <input name="hotel" id="hotel" value="@Model.IdHotel" hidden />
                    <!-- start step indicators -->
                    <div class="form-header d-flex mb-4">
                        <span class="stepIndicator">Datos personales</span>
                        <span class="stepIndicator">Metodo de pago</span>
                    </div>
                    <!-- end step indicators -->
                    <!-- step one -->
                    <div class="step step-1">
                        <p class="text-center mb-4"> Datos personales</p>
                        <div class="mb-3">
                            <input type="text" placeholder="Nombre" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" placeholder="Apellidos" name="apellidos" required>
                        </div>
                        <div class="mb-3">
                            <input type="email" placeholder="Email" name="email" required>
                        </div>
                    </div>

                    <!-- step four - payment methods -->
                    <div class="step step-2">
                        <div class="mb-3">
                            <label for="vuelo">Hotel: </label>
                            <input type="text" placeholder="Vuelo" id="vuelo" name="IdVuelo" value="@Model.Nombre" readonly>
                        </div>
                        <div class="mb-3">
                            <input value="@((int)Model.Precio)" hidden id="actualPrice" />
                            <label for="precio">Precio: </label>
                            <input type="text" placeholder="precio" id="precio" name="precio" value="@((int)Model.Precio)" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="fecha">Fecha: </label>
                            <input type="date" placeholder="fecha" id="fecha" name="fecha" />
                        </div>
                        <div class="mb-3">
                            <label for="personas">Acompañantes: </label>
                            <select class="form-control" id="personas" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <p class="text-center my-3">Seleccione el método de pago</p>
                            <div>
                                <label for="Tarjeta de credito">Tarjeta de credito</label>
                                <input type="radio" id="Tarjeta de credito" name="metodopago" value="Tarjeta de credito">
                            </div>
                            <div>
                                <label for="Paypal">PayPal</label>
                                <input type="radio" id="Paypal" name="metodopago" value="Paypal">
                            </div>
                            <div>
                                <label for="Transferencia">Transferencia bancaria</label>
                                <input type="radio" id="Transferencia" name="metodopago" value="Transferencia">
                            </div>
                        </div>
                    </div>

                    <!-- start previous / next buttons -->
                    <div class="form-footer d-flex">
                        <button type="button" id="prevBtn" data-step="-1">volver</button>
                        <button type="button" id="nextBtn" data-step="1">siguiente</button>
                    </div>
                    <!-- end previous / next buttons -->
                </form>

                <div class="mt-4">
                    <span id="mensaje">

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            var currentTab = 0;

            showTab(currentTab);

            function realizarReserva(hotel, precio, personas, fecha) {
                $.ajax({
                    url: "/Hoteles/ReservarHotel?idhotel=" + hotel + "&personas=" + personas + "&precio=" + precio + "&fecha=" + fecha,
                    method: "POST",
                    success: function (data) {
                        setTimeout(function () {
                            $("#mensaje").addClass("text-success");
                            $("#mensaje").text("Pago realizado correctamente");
                            window.location.href = '@Url.Action("ReservasUsuario", "Usuarios")';
                        }, 3000)
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $("#mensaje").addClass("text-danger");
                            $("#mensaje").text("Error al realizar el Pago");
                        }, 3000)
                    }
                })
            }

            function showTab(n) {
                var steps = $(".step");
                steps.hide();
                $(steps[n]).show();

                $(".stepIndicator").removeClass("active");
                $(`.stepIndicator:eq(${n})`).addClass("active");

                if (n == 0) {
                    $("#prevBtn").hide();
                } else {
                    $("#prevBtn").show();
                }

                if (n == (steps.length - 1)) {
                    $("#nextBtn").hide();
                    var submitBtn = $("<button>");
                    submitBtn.text("Confirmar pago");
                    submitBtn.attr("id", "submitBtn");
                    submitBtn.attr("type", "submit");


                    $("#nextBtn").replaceWith(submitBtn);

                    $(document).on("click", "#submitBtn", function () {

                        if (validatePaymentMethod()) {

                            var precio = parseInt($("#signUpForm #precio").val());
                            var personas = $("#signUpForm #personas").val();
                            var hotel = parseInt($("#signUpForm #hotel").val());
                            var fecha = $("#signUpForm #fecha").val();

                            realizarReserva(hotel, precio, personas, fecha)

                        } else {
                            alert("Seleccione un método de pago");
                        }
                    });
                } else {
                    var nextBtn = $("<button>");
                    nextBtn.attr("id", "nextBtn");
                    nextBtn.data("step", 1);
                    nextBtn.attr("type", "button");
                    nextBtn.text("Siguiente");
                    $("#submitBtn").replaceWith(nextBtn);
                }

                console.log("Step activo: ", steps[n]);
            }


            $(document).on("click", "#nextBtn", function () {
                if (currentTab === 1) {
                    if (validatePaymentMethod()) {
                        nextPrev(1);
                    } else {
                        alert("Seleccione un método de pago");
                    }
                } else {
                    var next = $(this).data("step");
                    console.log("next: ", next);
                    nextPrev(next);
                }
            });

            $(document).on("click", "#prevBtn", function () {
                var prev = $(this).data("step");
                console.log("prev: ", prev);
                nextPrev(prev);
            });

            function nextPrev(n) {
                var steps = $(".step");
                if (currentTab + n >= 0 && currentTab + n < steps.length) {
                    steps[currentTab].style.display = "none";
                    currentTab += n;
                    showTab(currentTab);
                }
            }

            function validatePaymentMethod() {
                // Validar que se haya seleccionado un método de pago
                return $("input[name='metodopago']:checked").length > 0;
            }
        });
    </script>
}