@model List<Post>

@{
    int numRegistros = 0;
    int actualPage = 1;
    List<Usuario> usuarios = ViewData["usuarios"] as List<Usuario>;

    if (ViewData["numRegistros"] != null)
    {
        numRegistros = (int)ViewData["numRegistros"];
        actualPage = (int)ViewData["actualPage"];
    }

    int paginas = (int)Math.Ceiling((double)numRegistros / 5);
}

@if (Model.Count != 0)
{
    <div class="row pb-3 wow fadeIn" data-wow-delay="0.1s">
        @foreach (Post post in Model)
        {
            var usuario = usuarios.FirstOrDefault(x => x.IdUsuario == post.IdUsuario);
            <div class="col-lg-6 col-md-6 mb-4 pb-2">
                <div class="blog-item">
                    <div class="position-relative">
                        <img class="img-fluid w-100" src="@post.Imagen" alt="@post.Titulo">
                        <div class="blog-date">
                            <h6 class="font-weight-bold mb-n1">@post.FechaPublicacion.Date.Day</h6>
                            <small class="text-white text-uppercase">@post.FechaPublicacion.ToString("MMMM")</small>
                        </div>
                    </div>
                    <div class="bg-white p-4">
                        <div class="d-flex mb-2">
                            <a class="text-primary text-uppercase text-decoration-none btn-detail"
                               data-idpost="@post.IdPublicacion">@usuario.Nombre @usuario.Apellido</a>
                            <span class="text-primary px-2">|</span>
                            <a class="text-primary text-uppercase text-decoration-none btn-detail"
                               data-idpost="@post.IdPublicacion">@post.Titulo</a>
                        </div>
                        <a class="h5 m-0 text-decoration-none btn-detail truncate-content"
                           data-idpost="@post.IdPublicacion">@post.Contenido</a>
                    </div>
                </div>
            </div>
        }

        <div class="col-12">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-lg justify-content-center bg-white mb-0" style="padding: 30px;">

                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= paginas; i++)
                    {
                        <li class="page-item">
                            <a class="page-link page-btn" data-page="@i">@i</a>
                        </li>

                        actualPage += 1;
                    }
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
}