@model List<Destino>

@{

    int numRegistros = 0;
    int actualPage = 1;
    int? idcontinente = 0;

    if (ViewData["numRegistros"] != null)
    {
        numRegistros = (int)ViewData["numRegistros"];
        actualPage = (int)ViewData["actualPage"];
        idcontinente = ViewData["idcontinente"] as int?;

    }

    int paginas = (int)Math.Ceiling((double)numRegistros / 8);
}

@if (Model != null && Model.Count != 0)
{
    <div class="container-xxl py-5 destination wow fadeIn" data-wow-delay="0.1s">
        <!-- all destinos -->
        <div class="container">
            <div class="text-center">
                <h1 class="mb-5">¿Estás planeando un viaje?</h1>
            </div>
            <div class="row g-4 justify-content-center">
                @foreach (Destino destino in Model)
                {
                    <div class="col-lg-4 col-md-6 " data-wow-delay="0.1s">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="@destino.Imagen" alt="">
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-location-crosshairs text-primary me-2"></i>@destino.Nombre</small>
                                <small class="flex-fill text-center border-end py-2" style="visibility:hidden;"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                                <small class="flex-fill text-center py-2">
                                    <i class="fa fa-map-marker-alt text-primary me-2"></i>@destino.Region
                                </small>
                            </div>
                            <div class="text-center p-4">
                                <h3 class="mb-3">@destino.Precio €</h3>
                                <p>@destino.Descripcion</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <a class="btn btn-sm btn-primary px-3 border-end"
                                       data-id="@destino.IdDestino"
                                       id="see-more"
                                       style="border-radius: 30px 0 0 30px;">ver más</a>
                                    <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">reservar ya</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <!-- all destinos -->
    </div>

    <div class="col-12">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg justify-content-center bg-white mb-0" style="padding: 30px;">

                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @for (int i = 1; i <= paginas; i++)
                {
                    <li class="page-item">
                        <a class="page-link">@i</a>
                    </li>

                    actualPage += 1;
                }
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
}
else
{
    <div class="container-xxl py-5 destination">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">No se han encontrado destinos </h1>
                <a asp-controller="Destinos" asp-action="Index" class="btn btn-sm btn-primary px-3 border-end">
                    volver
                </a>
            </div>
        </div>
    </div>
}
