@model List<Post>
@{
    List<Usuario> usuarios = ViewData["usuarios"] as List<Usuario>;
}

@if (Model != null && Model.Count != 0)
{
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="d-flex justify-content-between mb-2 mx-auto">
            <a asp-controller="Blogs" asp-action="PublicarPost" class="btn btn-outline-primary">publicar post</a>
        </div>
        <div class="container py-5">
            <div class="row pb-3">
                @foreach (Post post in Model)
                {
                    var usuario = usuarios.FirstOrDefault(x => x.IdUsuario == post.IdUsuario);

                    <div class="col-md-6 mb-4 pb-2">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="~/img/@post.Imagen" alt="@post.Titulo">
                                <div class="blog-date">
                                    <h6 class="font-weight-bold mb-n1">@post.FechaPublicacion.Date.Day</h6>
                                    <small class="text-white text-uppercase">@post.FechaPublicacion.ToString("MMMM")</small>
                                </div>
                            </div>
                            <div class="bg-white p-4">
                                <div class="d-flex mb-2">
                                    <a class="text-primary text-uppercase text-decoration-none btn-detail"
                                       data-idpost="@post.IdPublicacion">@usuario.Nombre @usuario.Apellido</a>
                                    <span class="text-primary px-2">|</span>
                                    <a class="text-primary text-uppercase text-decoration-none btn-detail"
                                       data-idpost="@post.IdPublicacion">@post.Titulo</a>
                                </div>
                                <a class="h5 m-0 text-decoration-none btn-detail"
                                   data-idpost="@post.IdPublicacion">@post.Contenido</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div style="height:100vh; margin:0 1em;">
        <div class="text-center">
            <h1 class="text-uppercase py-5" style="color:#0000004d">
                No tienes publicaciones subidas
            </h1>
            <a class="text-decoration-underline mt-5" asp-controller="Blogs" asp-action="PublicarPost">
                publicar uno nuevo
            </a>
        </div>
    </div>
}
