@model Vuelo
@{
    List<Destino> destinos = ViewData["DESTINOS"] as List<Destino>;
}
<section id="flights" class=" py-3">
    <div class="container">
        <div class="d-flex justify-content-end align-items-center">
            <a class="btn btn" asp-controller="Vuelos" asp-action="Index">
                volver
            </a>
        </div>
        <div class="d-flex flex-column">
            <div class="col-md-12">
                <div class="item">
                    <div class="item-right">
                        <h2 class="num">@Model.FechaSalida.Day</h2>
                        <p class="day">@Model.FechaSalida.ToString("MMMM")</p>
                        <span class="up-border"></span>
                        <span class="down-border"></span>
                    </div>
                    <!-- end item-right -->

                    <div class="item-left">
                        <p class="event">@Model.Aerolinea</p>
                        @{
                            var dt = destinos.FirstOrDefault(x => x.IdDestino == Model.IdDestino);

                        }
                        <h2 class="title">@dt.Nombre</h2>

                        <div class="sce">
                            <div class="icon">
                                <i class="fa fa-table"></i>
                            </div>
                            <p>
                                @Model.FechaSalida.ToString("D") <br />
                                Duración del vuelo: @Model.Duracion h
                            </p>
                        </div>
                        <div class="fix"></div>
                        <div class="loc">
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <p>
                                @dt.Nombre, @dt.Region <br />
                                @Model.FechaLlegada.ToString("D") <br />
                            </p>
                        </div>
                        <div class="fix"></div>
                    </div>
                    <!-- end item-right -->
                </div>
            </div>
            <!-- end item -->
            <div class="col-md-12">
                <form id="signUpForm" method="post" asp-action="_ComprarVuelo">
                    @Html.AntiForgeryToken()
                    <input name="IdVuelo" id="IdVuelo" value="@Model.IdVuelo" hidden />
                    <!-- start step indicators -->
                    <div class="form-header d-flex mb-4">
                        <span class="stepIndicator">Datos personales</span>
                        <span class="stepIndicator">Metodo de pago</span>
                    </div>
                    <!-- end step indicators -->
                    <!-- step one -->
                    <div class="step d-block">
                        <p class="text-center mb-4"> Datos personales</p>
                        <div class="mb-3">
                            <input type="text" placeholder="Nombre" name="nombre">
                        </div>
                        <div class="mb-3">
                            <input type="text" placeholder="Apellidos" name="apellidos">
                        </div>
                        <div class="mb-3">
                            <input type="email" placeholder="Email" name="email">
                        </div>
                    </div>

                    <!-- step four - payment methods -->
                    <div class="step">
                        <div class="mb-3">
                            <label for="vuelo">Vuelo: </label>
                            <input type="text" placeholder="Vuelo" id="vuelo" name="IdVuelo" value="@dt.Nombre" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="aerolinea">Aerolinea: </label>
                            <input type="text" placeholder="Aerolinea" id="aerolinea" name="aerolinea" value="@Model.Aerolinea" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="precio">Precio: </label>
                            <input type="text" placeholder="precio" id="precio" name="Precio" value="@((int)Model.Precio)" readonly>
                        </div>
                        <p class="text-center mb-4">Seleccione el método de pago</p>
                        <div class="mb-3">
                            <label for="Tarjeta de credito">Tarjeta de credito</label>
                            <input type="radio" id="Tarjeta de credito" name="MetodoPago" value="Tarjeta de credito">
                        </div>
                        <div class="mb-3">
                            <label for="Paypal">PayPal</label>
                            <input type="radio" id="Paypal" name="MetodoPago" value="Paypal">
                        </div>
                        <div class="mb-3">
                            <label for="Transferencia">Transferencia bancaria</label>
                            <input type="radio" id="Transferencia" name="MetodoPago" value="Transferencia">
                        </div>
                    </div>

                    <!-- start previous / next buttons -->
                    <div class="form-footer d-flex">
                        <button type="button" id="prevBtn" data-step="-1">volver</button>
                        <button type="button" id="nextBtn" data-step="1">siguiente</button>
                    </div>
                    <!-- end previous / next buttons -->
                </form>

                <div class="mt-4">
                    <span id="mensaje">

                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
